version: '3.8'

services:
  # Seu Cérebro Python (Bot)
  bot-medico:
    build: .
    container_name: bot_medico
    restart: always
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - DATABASE_URL=postgresql://user:password@db:5432/medico_db
      - TZ=America/Sao_Paulo
      # Configuração para falar com a Evolution
      - EVOLUTION_URL=http://evolution_api:8080
      - EVOLUTION_APIKEY=${AUTHENTICATION_API_KEY}
      - INSTANCE_NAME=MyInstance
    volumes:
      - ./credentials.json:/app/credentials.json
    ports:
      - "5025:5000"
    depends_on:
      - db
      - evolution_api

  # API do WhatsApp (Evolution)
  evolution_api:
    image: atendai/evolution-api:v2.1.1
    container_name: evolution_api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - AUTHENTICATION_API_KEY=${AUTHENTICATION_API_KEY}
      - DATABASE_PROVIDER=local     # <--- CORREÇÃO CRÍTICA (Resolve o loop)
      - DATABASE_ENABLED=false
    volumes:
      - evolution_store:/evolution/store

  # Banco de Dados (Postgres)
  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: medico_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  evolution_store:
